.container {
  width: 90%;
  margin: 10px auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.edit {
  color: rgb(61, 113, 209);
}

.delete {
  color: rgb(211, 97, 97);
}

table {
  width: 100%;
}
